<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427557603199-gr8i8pec509n91tu6ga0479m34p1hato.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427557603199-gr8i8pec509n91tu6ga0479m34p1hato</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427557603199-90c9o8g9cardie7uge1opkdgoeb1e2g7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFnSzxNnRDoWFxtfDeB1oavjct6XbZsag</string>
	<key>GCM_SENDER_ID</key>
	<string>427557603199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthApp</string>
	<key>PROJECT_ID</key>
	<string>womens-wellness-app</string>
	<key>STORAGE_BUCKET</key>
	<string>womens-wellness-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427557603199:ios:a736c69989eac4f13bbc4a</string>
</dict>
</plist>